.gray_box {
    height: 200px;
    width: 200px;
    background-color: gray;
    margin: 8px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}
.box_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}
.pizza_preview_image {
    height: 140px;
    width: 140px;
}